
@{
	ViewBag.Title = "HW1";
}

<h2>HW1</h2>
<label for="name">姓名: </label>
<input type="text" name="name" id="name" required>
<br>
<br />
<label for="name">帳號: </label>
<input text="text" name="name" username="name" required>
<br>
<br />
<label for="name">密碼: </label>
<input type="password" name="name" username="name" required>
<br>
<br />
性別:
<input type="radio" name="gender" value=""> 男性
<input type="radio" name="gender" value=""> 女姓
<br>
<br />
興趣:

<input type="checkbox" id="cbox1" value="first_checkbox">
<label for="cbox1">游泳</label>
<input type="checkbox" id="cbox1" value="first_checkbox">
<label for="cbox1">閱讀</label>
<input type="checkbox" id="cbox1" value="first_checkbox">
<label for="cbox1">看電影</label>
<br />
<br />
自我介紹:
<textarea id="story" name="story"
		  rows="5" cols="33">

</textarea>

