
@{
    ViewBag.Title = "HW3";
}

<h2>HW3</h2>

@{
    
    String []fruits = { "apple", "banana", "charry" ,"piapple", "watermelon" };
}

<ol>


    @foreach (var item in fruits)
    {
        <li><p>@item</p></li>
    }

</ol>
