
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3><i>2434</i></h3>
<h4>eyyyyyy</h4>
<p>123123321  <u><b>122233321</b></u></p>
<a href="https://localhost:44372/">Home page</a>
<br />
<a href="https://localhost:44372/Test/HW1">Hw1</a>
<ul>
    <li>123</li>
    <li>321</li>
</ul>
<img src="#" alt="fang" />

<br />
@DateTime.Now

@{
    var vaule = 150;
    var success = true;
}

<div>@vaule</div>

@if (success == true)
{
    <p>成功</p>
}
else
{
    <p>失敗</p>
}

@for (int i = 0; i < 10; i++)
{
    <p>@i</p>
}

<p>
    3+5=@(3+5)
</p>



